@import '../themes/colors.scss';

.description {
	text-align: center;
	margin-bottom: 20px;
    font-weight: 300;
    color: $white;

    a {
        text-decoration: underline;
        color : $color1;
    }
}