@import '../themes/colors.scss';

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.form {
    display: flex;
    position: relative;
	width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    &__names {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .name {
            display: flex;
            flex-direction: column;
            width: 45%;
        }
    }

    label {
        font-size: 26px;
        margin-bottom: 6px;
        color: $color4;
        font-size: 1.125rem;
        font-weight: 500;
        align-self: start;
    }

    input, textarea {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1em;
        border: 1px solid $color4;
        border-radius: 5px;
        box-shadow: 0 5px 7px 0 rgba(189, 189, 192, 0.233), -3px -3px 2px 0 rgba(207, 207, 207, 0.075);
        width: 100%;
    }

    button {
        font-size: 26px;
        background-color: $color4;
        color:$white;
        padding: 10px;
        border-radius: 15px;
        width: fit-content;
    }
}