@import '../themes/colors.scss';

/* Footer Styles */
footer {
	display: flex;
	flex-direction: column;
  	background: $color4;
 	color: $color1;
	justify-content: center;
  	text-align: center;
 	padding: 20px 0;
	gap: 10px;
	width: 100%;
	color: #F6F4F2;

	.logo {
		display: flex;
		justify-content: center;
		gap: 20px;

		&__reseaux {
			display: flex;
			width: 50px;
			height: auto;

			img {
				border-radius: 50%;
				background-color: #F6F4F2;
				border: 2px solid #F6F4F2;
				width: 100%;
				height: auto;
				object-fit: cover;
			  }
		}
	}
}





