@import '../themes/colors.scss';

header {
  background: $color4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 50px;
    height: 50px;
    margin: 15px;

    img {
      border-radius: 50%;
      border: 2px solid $color1;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    height: 80px;
    margin: 0 15px 0 0;
    font-size: 20px;

    &__link {
      display: flex;
      text-decoration: none;
      align-items: center;
      color: #F6F4F2;
      padding: 0px 15px;
      font-weight: 500;
      height : 100%;

      &:hover {
        background-color: $color1;
        color: $color4;
      }
    }
  }
}