@import '../themes/colors.scss';

.portfolio {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap : 50px;
    padding: 20px;
}