@import '../themes/colors.scss';

#apropos, #portfolio {
    background-color: $color4;
	color : $white;

    .section-line {
        background-color:$white;
    }
}

#contact, #skills {
    background-color: $white;
	color : $color4;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 0 20px;

    @media (max-width: 768px) {
        padding: 60px 20px 0 20px;
    }

    .children{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:30px 0;
        max-width: 1200px;
        width: 100%;
    }

    .section-header {
        position: relative;
        text-align: center;
        width: 100%;
    
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 160px;
            font-weight: 300;
            font-size: 36px;
            z-index: 1;

            @media (max-width: 768px) {
                font-size: 24px;
                height: 104px;
            }
        }
    
        &__text {
            font-size: 100px;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            top: 0;
            z-index: 0;
            opacity: 0.15;
            font-weight: 700;

            @media (max-width: 768px) {
                font-size: 65px;
            }
        }
    }

    .section-line {
        background: $color4;
        width: 55px;
        height: 1px;
        margin: 10px auto;
    }
}



